body {
    font-family: 'Varela Round', 'Open Sans', sans-serif;
}

.article_header {
    width: 100%;
    background-color: var(--bg-tertiary);
    border-bottom: 1px solid var(--border-primary);
}

.notes_logo {
    max-width: 60vh;
    margin: 0 auto;
    padding: 0 20px 10px;
}

.notes_logo > img {
    width: 100%;
}

.article_content {
    margin: 20px;
    padding: 20px;
    background-color: var(--bg-primary);
    border: 1px solid var(--border-primary);
    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
    -ms-box-shadow: var(--box-shadow);
    -o-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
}

.article_title {
    font-family: 'Roboto Slab', serif;
    font-size: 2em;
    font-weight: normal;
}

.article_title:after {
    content: "";
    display: block;
    margin: 10px auto;
    width: 50%;
    height: 2px;
    background-color: var(--border-tertiary);
}

.article_description {
    margin: 0 auto;
    max-width: 700px;
    font-style: italic;
    font-size: 0.9em;
    color: var(--text-tertiary);
}

.article_date {
    display: inline-block;
    margin: 10px auto 0;
    padding: 7px 15px;
    font-size: 0.9em;
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-secondary)
}

.article_notes {
    text-align: left;
    margin: 50px auto;
    max-width: 900px;
}

.article_notes h2 {
    color: var(--highlight);
    padding-bottom: 5px;
    margin: 15px 0;
    border-bottom: 2px solid var(--border-secondary);
}

.article_notes p {
    margin: 10px 0;
}

.article_notes ul {
    margin-left: 20px;
}