body {
    --bg-primary: #21262b;
    --bg-secondary: #1c2025;
    --bg-tertiary: #191c21;
    --border-primary: #292f35;
    --border-secondary: #323a42;
    --border-tertiary: #333f4a;
    --text-primary: #fff;
    --text-secondary: #bbb;
    --text-tertiary: #999;
    --text-inverted: #000;
    --text-white: #fff;
    --text-black: #000;
    --green-primary: #11dc82;
    --green-secondary: #10442d;
    --green-tertiary: #15925b;
    --highlight: #ffc100;
    --scroll-thumb: rgba(255,255,255,0.075);
    --scroll-track: rgba(0,0,0,.20);
    --gradient-primary: linear-gradient(to right, #0b7edc 0%,#1396f3 50%,#00adff 100%);
    --gradient-secondary: linear-gradient(to right, #ff7f00 0%,#ffad00 50%,#ffe800 100%);
    --box-shadow: 0 0 10px rgba(0,0,0,0.25);
    --transition: 0.2s ease-in-out;
    --font-stack: 'Varela Round', 'Open Sans', sans-serif;

    margin: 0;
    padding: 20px;
    font-family: var(--font-stack);
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

.saveImportContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}

input[type="button"] {
    margin: 0 10px;
    padding: 10px 25px;
    font-family: var(--font-stack);
    text-transform: uppercase;
    background-color: rgba(255,255,255,.05);
    color: var(--text-primary);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: var(--transition);
}

input[type="button"]:hover {
    background-color: rgba(255,255,255,.1);
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
}

.heroListTitle {
    padding: 10px 0 5px 5px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: var(--highlight);
    border-bottom: 2px solid var(--border-tertiary);
}

.heroLine, .heroHeading {
    display: flex;
    flex-wrap: wrap;
}

.heroName, .slot, .headingEntry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--border-primary);
    border-radius: 5px;
    margin: 5px;
    width: 175px;
    box-shadow: var(--box-shadow);
}

.headingEntry {
    background-color: var(--border-secondary);
    border: 2px solid var(--border-tertiary);
    color: var(--highlight);
    padding: 10px 0;
}

.slot > button {
    width: 100%;
}
